
  
  	<ion-content>

<ion-slide-box on-slide-changed="slideHasChanged($index)">
  <ion-slide>
  <!-- 1 -->
    <center>
 	<img src="img/WaterBottle.jpg">
  </center>
 <hr>
 <form name="myForm1" >
 <div class="row">
  			<div class="col" ng-class="{error:mainData.myForm1.name}">Name</div>
  			<div class="col">
  			<input 
  			type="text" 
  			name="name" 
  			ng-model="data1.name"
  			placeholder="Enter Width" required>
  			</div>
	</div><hr>
<div class="row" ng-class="{error:mainData.myForm1.width}">
  			<div class="col">Width</div>
  			<div class="col">
  			<input 
  			type="text" 
  			name="width" 
  			ng-model="data1.width"
  			placeholder="Enter Width" required>
  			</div>
	</div><hr>
	<div class="row" ng-class="{error:mainData.myForm1.blength}">
  			<div class="col">Length</div>
  			<div class="col">
  			<input 
  			type="text" 
  			name="blength" 
  			ng-model="data1.blength"
  			placeholder="Enter Length" required>
  			</div>
	</div><hr>
	<div class="row" ng-class="{error:mainData.myForm1.height}">
  			<div class="col">Height</div>
  			<div class="col">
  			<input 
  			type="text" 
  			name="height" 
  			ng-model="data1.height"
  			placeholder="Enter Height" required></div>
	</div><hr>
	<div class="row" ng-class="{error:mainData.myForm1.weight}">
  			<div class="col">Weight</div>
  			<div class="col">
  			<input 
  			type="text" 
  			name="weight" 
  			ng-model="data1.weight"
  			placeholder="Enter Weight" required>
  			</div>
	</div><hr>

<button class="button button-full button-positive" ng-click="mainData.show1Cal(myForm1)">
  Save
</button><br><br><br><br><br><br><br>
</form>
  <!-- 1 -->
  </ion-slide>
  <ion-slide>
<!-- second 2 -->
  <center>
  	<img src="img/Rectangle.jpg">
  </center>
 <hr>
 <form name="myForm2" >
 <div class="row">
  			<div class="col" ng-class="{error:mainData.myForm2.name}">Name</div>
  			<div class="col">
  			<input 
  			type="text" 
  			name="name" 
  			ng-model="data1.name"
  			placeholder="Enter Width" required>
  			</div>
	</div><hr>
<div class="row" ng-class="{error:mainData.myForm2.width}">
  			<div class="col">Width</div>
  			<div class="col">
  			<input 
  			type="text" 
  			name="width" 
  			ng-model="data1.width"
  			placeholder="Enter Width" required>
  			</div>
	</div><hr>
	<div class="row" ng-class="{error:mainData.myForm2.length}">
  			<div class="col">Length</div>
  			<div class="col">
  			<input 
  			type="text" 
  			name="length" 
  			ng-model="data1.blength"
  			placeholder="Enter Length" required>
  			</div>
	</div><hr>
	<div class="row" ng-class="{error:mainData.myForm2.height}">
  			<div class="col">Height</div>
  			<div class="col">
  			<input 
  			type="text" 
  			name="height" 
  			ng-model="data1.height"
  			placeholder="Enter Height" required></div>
	</div><hr>
	<div class="row" ng-class="{error:mainData.myForm2.weight}">
  			<div class="col">Weight</div>
  			<div class="col">
  			<input 
  			type="text" 
  			name="weight" 
  			ng-model="data1.weight"
  			placeholder="Enter Weight" required>
  			</div>
	</div><hr>

<button class="button button-full button-positive" ng-click="mainData.show2Cal(myForm2)">
  Save
</button><br><br><br><br><br><br><br>
</form>
<!-- second 2 -->
  <!--     	<img src="img/Pallet.jpg" width=300 height=200> -->
  </ion-slide>
   <!-- 3 -->
  <!-- <ion-slide>
 
    <center>
  		<img src="img/Pallet.jpg" width=300 height=200>
  </center>
 <hr>
 <form name="myForm3" >
    <div class="row" ng-class="{error:mainData.myForm3.width}">
  			<div class="col">Width</div>
  			<div class="col">
  			<input 
  			type="text" 
  			name="width" 
  			ng-model="mainData.data3.width"
  			placeholder="Enter Width" required>
  			</div>
	</div><hr>
	<div class="row" ng-class="{error:mainData.myForm3.length}">
  			<div class="col">Length</div>
  			<div class="col">
  			<input 
  			type="text" 
  			name="length" 
  			ng-model="mainData.data3.length"
  			placeholder="Enter Length" required>
  			</div>
	</div><hr>
	<div class="row" ng-class="{error:mainData.myForm3.height}">
  			<div class="col">Height</div>
  			<div class="col">
  			<input 
  			type="text" 
  			name="height" 
  			ng-model="mainData.data3.height"
  			placeholder="Enter Height" required></div>
	</div><hr>


<button class="button button-full button-positive" ng-click="mainData.show3Cal(myForm3)">
  Save
</button><br><br><br><br><br><br><br>
</form>
  
  </ion-slide> -->
  <!-- 3 -->
</ion-slide-box>
</ion-content>

<!-- 
<h1>5456465465</h1>
<h1>5456465465</h1>
<h1>5456465465</h1>
<h1>5456465465</h1>

 <hr>
<div class="row">
  			<div class="col">Width</div>
  			<div class="col">
  			<input 
  			type="text" 
  			name="t1" 
  			value="123"
  			ng-model="mainData.data.width"
  			placeholder="Enter Width">
  			</div>
	</div><hr>
	<div class="row">
  			<div class="col">Length</div>
  			<div class="col">
  			<input 
  			type="text" 
  			name="t1" 
  			value="123"
  			ng-model="mainData.data.length"
  			placeholder="Enter Length">
  			</div>
	</div><hr>
	<div class="row">
  			<div class="col">Height</div>
  			<div class="col">
  			<input 
  			type="text" 
  			name="t1" 
  			value="123"
  			ng-model="mainData.data.height"
  			placeholder="Enter Height"></div>
	</div><hr>
	<div class="row">
  			<div class="col">Weight</div>
  			<div class="col">
  			<input 
  			type="text" 
  			name="t1" 
  			value="123"
  			ng-model="mainData.data.weight"
  			placeholder="Enter Weight">
  			</div>
	</div><hr>
<button class="button button-full button-positive" ng-click="mainData.show1Cal()">
  Save
</button> -->