<ion-content>
<ul class="list" >
    <li class="item" ng-repeat="temp in data1" ng-click="mainData.showById(temp)">
    <span ng-if="temp.shap=='bottle'">    <b>{{temp.shap}}        </b>({{temp.height}}*{{temp.blength}}*{{temp.width}})</span>
        <span ng-if="temp.shap=='rectangle'">    <b>{{temp.shap}}        </b>({{temp.height}}*{{temp.blength}}*{{temp.width}})</span>
    </li>
</ul> 
<h3> Select Pallet</h3>
	<img src="img/Pallet.jpg" width=300 height=200>
	<div class="list list-inset">

  <label class="item item-input item-select">
    <div class="input-label">
      items/row
    </div>
    <select>
      <option selected>48 * 40 </option>
      <option>48 * 30 </option>
    </select>
  </label>

</div><div class="list list-inset">
  <label class="item item-input">
    <input type="text" placeholder="Number of Rows">
  </label>
  </div>
<button class="button button-full button-positive">
  Next
</button>
</ion-content>