


<div class="bar bar-header bar-light">
  <h1 class="title"> {{mainData.title}}</h1>
</div>
<ion-view view-title="Home">
<h1> main </h1>

<!-- style="border:1px solid #ccc" -->
<div class="row">
  <div class="col" ></div>
  <div class="col" 
  ng-click="mainData.show1()"
  ><center>
<!--   style="color:red,font-size:30px;" -->
  		<span 
  	class="ion-ios-chatboxes-outline" 
  	ng-style="mainData.acive1"
  	>
  	</span><br>
  	pacages
  	  </center>
  	 </div>  
	<div class="col" 
	 ng-click="mainData.show2()">
	   <center>
	   		 <span class="ion-ios-gear-outline" 
	 ng-style="mainData.acive2">
	 </span><br>
	 <span>Pallets</span>

	   </center>

	 </div>
  <div class="col" ></div>
</div><hr>
<ion-nav-view name="home-tab">
	<h1>143</h1>
</ion-nav-view>
</ion-view>

